<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_aboutme.css">
     <!-- box icons (for hamberger etc) -->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header style="background-color: #323946;" class="header">
        <a href="#" class="logo" class="logo-multiple-text">Portfolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="home">Home</a>
            <a href="#about" class="active">About</a>
            <a href="home#services">Experience</a>
            <a href="home#portfolio">Technical Certifications</a>
            <a href="/other-cert"> Other Certifications</a>
            <a href="#contact">Contact</a>
            <!-- <a href="#Other-interests">Other Interests</a> -->
        </nav>
    </header>
    <section style="background-color: #1f242d;" class="about" id="about">
        <div class="about-img">
            <img src="images/about.jpg" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Mechanical / Marine Engineer</h3>
            <h3 class="cover-letter"> (Cover Letter)</h3>
            <p>Embarking on my maritime journey with <span1>Anglo Eastern Ship Management</span1> in 2011 following my Postgraduate 
                Diploma in Marine Engineering after completion of B.Tech in Mechanical Engineering, I commenced my journey as an Engine Cadet. 
                Over the years, I traversed the seas aboard various foreign-going 
                vessels, including containers, Chemical Tankers, and VLCCs, steadily progressing to the esteemed position of <span1>Engineering 
                Officer on Watch.</span1></p>

                <p>In 2016, I transitioned to <span1>British Petroleum (BP),</span1> where I gained invaluable exposure beyond operational and maintenance realms. 
                One standout experience at BP was participating in the delivery of new builds from Hyundai Yard, South Korea—a journey that 
                underscored the complexities of transforming a vessel from yard to sea-going state. Challenges ranged from technical hurdles 
                to establishing a new ISO system for vessels, enriching my expertise and broadening my horizons.</p>
                
                <p>During my tenure at BP, I encountered my first brush with Exhaust Scrubber systems aboard BP's NIMBUs vessel—a pioneering 
                endeavor that introduced me to the forefront of maritime technology. Sailing with her, I gained hands-on experience and 
                certification from Clean Marine on EGS Scrubbers.</p>
                
                <p>Following my maritime adventures with BP until 2019, I embarked on a hiatus during the Covid era, venturing into personal growth 
                activities. Exploring my passion for technology, I delved into Full Stack Development courses and later pursued certifications 
                as a <span1>Blockchain Associate under Hyperledger, culminating in the creation of this very portfolio website.</span1></p>
                
                <p>Resuming my maritime journey, I seized an opportunity with <span1>Albwardy-Damen Shipyards</span1> in the UAE as a <span1>Specialist Service Engineer,</span1> 
                where I honed my craft through training from various Marine OEMs, gaining extensive working knowledge in vessel machinery. 
                Sailing across shipyards in the MENA region, I serviced various vessels and attended docks and yards for Stern Tube replacements 
                and bonding.</p>
                
                <p>In 2023, I transitioned to the role of <span1>Application and Commissioning Engineer</span1> in Marine, Industrial Petroleum, 
                and Oil-Gas sectors with <span1>Caterpillar (Al-Bahar)</span1>. This new role broadened my horizons from service to application and 
                commissioning, encompassing technical aspects such as electronics, communication, controls, and design considerations tailored 
                to customer needs and vessel specifications. Not to mention class requirements. Caterpillar provided comprehensive training and certification, enabling me to 
                tackle new challenges such as the installation and commissioning of IMO Tier 3 Exhaust scrubber systems.</p>
                
                <p><span1>" This ongoing journey of learning and growth continues to expand my knowledge and experience horizon, 
                and I eagerly anticipate the challenges that lie ahead. "</span1></p>

                <p><span1><a href="home#services"> &#128512; Click Here to check out complete Proffessional Experience</a></span1></p>
            
        </div>
        </section>
        <!-- - Contact form --> 
        <section class="contact" id="contact">
            <h2 class="heading">Contact<span> Me! </span></h2>

            <form 
                action="https://formsubmit.co/kannanportfoliomail@gmail.com"
                target="blank"
                method="POST"
                
                id="contactform"
            >
                <div class="input-box">
                    <input type="text" placeholder="Full Name" required name="name">
                    <input type="email" placeholder="Email Adress" required name="email">
                </div>
                <div class="input-box">
                    <input type="number" placeholder="Mobile" name="number">
                    <input type="text" placeholder="Email Subject" name="Subject">
                </div>
                <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <input type="hidden" name="_captcha" value="false">
               
                <input type="submit" value="Send Message" class="btn">
            </form>

        </section>

    <!-- Footer design -->
    <footer class="footer">
        <div class="footer-text">
            <p> Copyright &copy; 2023 by Kannan | All rights Reserved</p>
        </div>
        <div class="footer-iconTop">
            <a href="#about"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>
    <!-- ------Scroll reveal api---- -->
    
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>


    <!-- custom js -->
    <script src="js/script.js" async defer></script>
</body>
</html>