<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certifications</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_mariner.css">
     <!-- box icons (for hamberger etc) -->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     
</head>
<body>
    <header style="background-color: #323946;" class="header">
        <a href="#" class="logo" class="logo-multiple-text">Portfolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="home">Home</a>
            <a href="aboutme" >About</a>
            <a href="home#services" >Experience</a>
            <a href="certifications">Technical Certifications</a>
            <a href="#" class="active">Caterpillar Certifications</a>
            <a href="/other-cert"> Other Certifications</a>
            <a href="#contact">Contact</a>
            <!-- <a href="#Other-interests">Other Interests</a> -->
        </nav>
    </header>
                    <div class="container" id="home">                       
                                 
                        <div class="about-content" style="background-color: #1f242d;" class="about" id="about">
                            <h2 class="heading" id="cat">Caterpillar<span> Certifications </span></h2>
                            <h3><span1>Caterpillar INC -</span1> UAE, Singapore</h3>
                            <p>
                                Caterpillar ensures effective training for individuals based on their Products and job requirements. 
                                Through comprehensive training programs, become proficient in various aspects of marine commissioning, 
                                ranging from the prpulsion control at helm in the bridge to managing transmission drive chain in the engine room. 
                                This training encompasses expertise in marine gensets, propulsion engines and Oil and Gas Engine solutions, as well as recent advancements such as 
                                gas engines and exhaust scrubbers (SCR). Additionally, trained and certified in marine electronics and controls. 
                                 Undergoimg more training and certification in Both Marine and Oil & Gas Products.
                             </p>                            
                        </div>                    

                        <div class="cat-cert-img">
                            <img src="images/cat1_page-0001.jpg" alt="">
                            <img src="images/cat2_page-0001.jpg" alt="">
                            <img src="images/cat3_page-0001.jpg" alt="">
                            <img src="images/cat4_page-0001.jpg" alt="">
                            <img src="images/cat5_page-0001.jpg" alt="">
                            <img src="images/cat6_page-0001.jpg" alt="">
                            <img src="images/cat7_page-0001.jpg" alt="">
                            <img src="images/cat8_page-0001.jpg" alt="">
                            <img src="images/cat9_page-0001.jpg" alt="">
                            <img src="images/cat10_page-0001.jpg" alt="">
                            <img src="images/cat11_page-0001.jpg" alt="">
                            <img src="images/cat12_page-0001.jpg" alt="">
                            <img src="images/cat13_page-0001.jpg" alt="">
                            <img src="images/cat14_page-0001.jpg" alt="">
                            <img src="images/cat15_page-0001.jpg" alt="">
                            <img src="images/cat16_page-0001.jpg" alt="">
                            <img src="images/cat17_page-0001.jpg" alt="">
                            <img src="images/cat18_page-0001.jpg" alt="">
                            <img src="images/cat19_page-0001.jpg" alt="">
                            <img src="images/cat20_page-0001.jpg" alt="">
                            <img src="images/cat21_page-0001.jpg" alt="">
                            <img src="images/cat22_page-0001.jpg" alt="">
                            <img src="images/cat23_page-0001.jpg" alt="">
                            <img src="images/cat24_page-0001.jpg" alt="">
                            <img src="images/cat25_page-0001.jpg" alt="">
                            <img src="images/cat26_page-0001.jpg" alt="">
                            <img src="images/cat27_page-0001.jpg" alt="">
                            <img src="images/cat28_page-0001.jpg" alt="">
                            <img src="images/cat29_page-0001.jpg" alt="">
                            <img src="images/cat30_page-0001.jpg" alt="">
                            <img src="images/cat31_page-0001.jpg" alt="">
                            <img src="images/cat32_page-0001.jpg" alt="">
                            <img src="images/cat33_page-0001.jpg" alt="">
                            <img src="images/cat34_page-0001.jpg" alt="">
                            <img src="images/cat35_page-0001.jpg" alt="">
                            <img src="images/cat36_page-0001.jpg" alt="">
                        </div>

                    </div>
                        
                            <!-- contact form -->
                            <section class="contact" id="contact">
                                <h2 class="heading">Contact<span> Me! </span></h2>
                    
                                <form 
                                    action="https://formsubmit.co/kannanportfoliomail@gmail.com"
                                    target="blank"
                                    method="POST"
                                    
                                    id="contactform"
                                >
                                    <div class="input-box">
                                        <input type="text" placeholder="Full Name" required name="name">
                                        <input type="email" placeholder="Email Adress" required name="email">
                                    </div>
                                    <div class="input-box">
                                        <input type="number" placeholder="Mobile" name="number">
                                        <input type="text" placeholder="Email Subject" name="Subject">
                                    </div>
                                    <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                                    <input type="hidden" name="_captcha" value="false">
                                   
                                    <input type="submit" value="Send Message" class="btn">
                                </form>
                    
                            </section>

    <!-- Footer design -->
    <footer class="footer">
        <div class="footer-text">
            <p> Copyright &copy; 2023 by Kannan | All rights Reserved</p>
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>
    <!-- ------Scroll reveal api---- -->
    
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>


    <!-- custom js -->
    <script src="js/script.js" async defer></script>
</body>
</html>