<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certifications</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_mariner.css">
     <!-- box icons (for hamberger etc) -->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header style="background-color: #323946;" class="header">
        <a href="#" class="logo" class="logo-multiple-text">Portfolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="home">Home</a>
            <a href="aboutme" >About</a>
            <a href="home#services" >Experience</a>
            <a href="#" class="active">Technical Certifications</a>
            <a href="/other-cert"> Other Certifications</a>
            <a href="#contact">Contact</a>
            <!-- <a href="#Other-interests">Other Interests</a> -->
        </nav>
    </header>
    <section style="background-color: #1f242d;" class="about" id="home">
        <div class="about-img">
            <img src="images/yanmar.jpg" alt="">
        </div>

        <div class="about-content" >
            <h2 class="heading" id="yanmar">Yanmar <span>Marine Engines</span></h2>
            <h3><span>Yanmar Technical School,</span> India</h3>
            <p>Successfully completed OEM training at Yanmar T.T School in India, 
                acquiring comprehensive expertise in Yanmar four-stroke, medium-speed engines, 
                and marine generators. Acquired theoretical and practical knowledge encompassing all 
                components and controls, with a focus on advanced understanding in turbocharger matching and 
                design considerations for engine-turbo sets. Hands-on experience gained in governor and governor 
                controls, along with intricate skills in engine troubleshooting and calibration of various components.
            </p>
            
        </div>
        </section>

        <section style="background-color: #1f242d;" class="about" id="about">
            <div class="about-img">
                <img src="images/kemel.jpg" alt="">
            </div>
    
            <div class="about-content">
                <h2 class="heading" id="kemel">Kemel<span> Stern Tube Seal </span></h2>
                <h3><span>KEMEL,</span> Singapore</h3>
                <p>
                    Successfully completed both on-the-job and theoretical training at KEMEL (EKK Eagle), Singapore, focusing on 
                    Sterntube Seals for Two Stroke propulsion Engines. Delved into various types of stern tube seals including Air Seals, Oil Seals, and Water Seals, 
                    gaining comprehensive knowledge of their operation and adjustment for optimal sealing performance. 
                    Hands-on experience includes bonding, overhauling, and assembling both Forward and Aft Seals. Additionally, 
                    acquired expertise in measuring propeller drop, assessing bearing condition, and mastering Liner Calibration. 
                    Proficient in skimming and adjusting distance pieces to address linear wears and pitting issues.
                </p>
                
            </div>
            </section>

            <section style="background-color: #1f242d;" class="about" id="about">
                <div class="about-img">
                    <img src="images/purifier.jpeg" alt="">
                </div>
        
                <div class="about-content">
                    <h2 class="heading" id="purifier">Mitsubishi<span> Purifiers </span></h2>
                    <h3><span>Mitsubishi Kakoi Kesha</span>, Japan</h3>
                    <p>
                        Trained and certified in the maintenance and operation of Mitsubishi purifiers on-board marine vessels, 
                        from Mitsubishi Kakoki Kaisha Ltd (MKK) in Japan. 
                        Received comprehensive factory training encompassing detailed theories of separation and the diverse design 
                        intricacies of MKK separator all models. Well-versed in the electronics and control systems of these separators, 
                        with additional training in bowl overhauling and balancing. Proficient in hands-on troubleshooting for various 
                        operational scenarios.
                    </p>
                    
                </div>
                </section>

                <section style="background-color: #1f242d;" class="about" id="about">
                    <div class="about-img">
                        <img src="images/turbo.jpeg" alt="">
                    </div>
            
                    <div class="about-content">
                        <h2 class="heading" id="turbo">Mitsubishi<span> Turbo Chargers </span></h2>
                        <h3><span>Mitsubishi Heavy Industries,</span> Japan</h3>
                        <p>
                            Successfully completed training on radial flow and axial flow turbochargers from Mitsubishi Heavy Industries (MHI), 
                            with a focus on turbos utilized in two-stroke slow-speed and four-stroke medium-speed engines. 
                            Trained and certified in the maintenance cycle and calibration of turbochargers.

                        </p>
                        
                    </div>
                    </section>

                    <section style="background-color: #1f242d;" class="about" id="about">
                        <div class="about-img">
                            <img src="images/egs.jpeg" alt="">
                        </div>
                
                        <div class="about-content">
                            <h2 class="heading" id="egs">Exhaust<span> Gas Scrubbers </span></h2>
                            <h3><span>Clean Marine,</span> Lysaker Norway</h3>
                            <p>
                                On the job training and certification for Exhaust gas scrubbers (EGS) from Cleam Marine, Lysaker Norway.
                                Trained during the erection and commissiong of the plant in Vessel British Cirrius. Trained and Certified in 
                                the Closed loop and Open loop system for Clean marine EGS system.
                                Participated in design modification and trouble shooting of the system.
                                Trained in the bunkering of Caustic (NaoH) for the system.

                             </p>
                            
                             
                        </div>
                       
                        </section>

                        <a href="cat-certifications"><div class="cat-cert">

                        <p>Click here for Caterpillar Certifications </p>
                        </div></a>
                        
          <!-- Contact form -->
          <section class="contact" id="contact">
            <h2 class="heading">Contact<span> Me! </span></h2>

            <form 
                action="https://formsubmit.co/kannanportfoliomail@gmail.com"
                target="blank"
                method="POST"
                
                id="contactform"
            >
                <div class="input-box">
                    <input type="text" placeholder="Full Name" required name="name">
                    <input type="email" placeholder="Email Adress" required name="email">
                </div>
                <div class="input-box">
                    <input type="number" placeholder="Mobile" name="number">
                    <input type="text" placeholder="Email Subject" name="Subject">
                </div>
                <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <input type="hidden" name="_captcha" value="false">
               
                <input type="submit" value="Send Message" class="btn">
            </form>

        </section>        

    <!-- Footer design -->
    <footer class="footer">
        <div class="footer-text">
            <p> Copyright &copy; 2024 by Kannan | All rights Reserved</p>
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>
    <!-- ------Scroll reveal api---- -->
    
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>


    <!-- custom js -->
    <script src="js/script.js" async defer></script>
</body>
</html>
