<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commissioning Engineer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_commissioning-engineer.css">
     <!-- box icons (for hamberger etc) -->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header style="background-color: #323946;" class="header">
        <a href="#" class="logo" class="logo-multiple-text">Portfolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="home">Home</a>
            <a href="aboutme" >About</a>
            <a href="#" class="active">Commissioning Experience</a>
            <a href="home#services">Total Experience</a>
            <a href="home#portfolio">Technical Certifications</a>
            <a href="/other-cert"> Other Certifications</a>
            <a href="#contact">Contact</a>
            <!-- <a href="#Other-interests">Other Interests</a> -->
        </nav>
    </header>
    <section style="background-color: #1f242d;" class="about" id="about">
        <div class="about-img">
            <img src="images/about.jpg" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading">Commissioning <span> Engineer</span></h2>
            <h3 class="industrial">Marine, Industrial-Petroleum and Oil & Gas</h3>
            <h3> Al Bahar (Caterpillar) <span1>From (Jun 2023)</span1></h3>
            <p>Moving forward i joined <span>AL-Bahar(Caterpillar)</span> as <span1>Commissioning and Application Engineer</span1>. It really expanded my horizon of thinking.
                I started to acknowledge the financial facts and business aspect of the projects not only the technical aspects. 
                This position enabled me to dive into instrumentation control and electronics part of the machinery. 
                Doing application and technical complaince, lead to understanding of the market and needs of the customer. 
                This position lead more challenges than any other in my previous experience. Here i mastered the delcate craft of keeping 
               the customer satisfied ("Most of the time :)"), and juggling through various suppliers, Parts dept, Service Dept, Product support and 
               Warrant Dept. Here I got into intricacies of <span1>Class (IACS)</span1> Complaince for Marine, Planning an Engine with all its instrumentation and controls
               compling to class, installing and commissioning of the engines on Vessels after numerous tests and sea trials and class inspections presents a challenge on its own.
               With the onset of <span1>IMO TIER III</span1> regulation for air pollution and intoduction of various exhaust scrubbers, commissioning and technicals
               become more challenging, but surely more interesting from engineering and installation perspective.

               <p>Oil and Gas engines may be defined as another animal itself. With the intoduction of reduction in carbon emission and more 
                emphasis on sustainability, <span1>Gas engines</span1> are the buzz word around this sector. Planning and commissiong of Gas engines and tuning them
                for optimium prescribed power with in the range of allowable emmission is challenging and interesting, since variables like type of fuel and 
               even altitude of the terrain plays a vital role.
               </p>

               <p>
                   To Navigate through these challenges <span>Catterpillar INC</span> has been provoding training and support from the factory. 
                   These trainings as mentioned below enabled me to take on these tasks with confidence.
               </p>
           </p>

                    <a href="cat-certifications"><h3 class="cat-cert">Click for Caterpillar Certifications</h3></a>
            
        </div>
        </section>

        

        <!-- Contact form -->
        <section class="contact" id="contact">
            <h2 class="heading">Contact<span> Me! </span></h2>

            <form 
                action="https://formsubmit.co/kannanportfoliomail@gmail.com"
                target="blank"
                method="POST"
                
                id="contactform"
            >
                <div class="input-box">
                    <input type="text" placeholder="Full Name" required name="name">
                    <input type="email" placeholder="Email Adress" required name="email">
                </div>
                <div class="input-box">
                    <input type="number" placeholder="Mobile" name="number">
                    <input type="text" placeholder="Email Subject" name="Subject">
                </div>
                <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <input type="hidden" name="_captcha" value="false">
               
                <input type="submit" value="Send Message" class="btn">
            </form>

        </section>

    <!-- Footer design -->
    <footer class="footer">
        <div class="footer-text">
            <p> Copyright &copy; 2023 by Kannan | All rights Reserved</p>
        </div>
        <div class="footer-iconTop">
            <a href="#about"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>
    <!-- ------Scroll reveal api---- -->
    
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>


    <!-- custom js -->
    <script src="js/script.js" async defer></script>
</body>
</html>