<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Portfolio Website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <!-- box icons (for hamberger etc) -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    </head>
    <body>
        <header class="header">
            <a href="#" class="logo" class="logo-multiple-text">Portfolio</a>
            <i class='bx bx-menu' id="menu-icon"></i>
            <nav class="navbar">
                <a href="#home" class="active">Home</a>
                <a href="#about">About</a>
                <a href="#services">Experience</a>
                <a href="#portfolio"> Technical Certifications</a>
                <a href="#portfolio">Caterpillar Certifications</a>
                <a href="/other-cert"> Other Certifications</a>
                <a href="#contact">Contact</a>
                <!-- <a href="#Other-interests">Other Interests</a> -->
            </nav>
        </header>

        <!-- Home Section Design -->
        <section class="home" id="home">
            <div class="home-content">
                <h3>Hello, It's me</h3>
                <h1 class="home-contenth1">Kannan Nair</h1>
                <h3>And I'm a <span class="multiple-text"></span></h3>
                            <p> <span>Ahoy, </span> Welcome to my professional portfolio. I am, a seasoned Marine Engineer with a rich 
                                background spanning over <span>Nine years</span> in the maritime industry.
                            <p>My career trajectory began as a Marine Engineer, where I honed my skills in the intricate workings of marine machinery. 
                      Transitioning to the role of a Marine Specialist Service Engineer, I assumed responsibility for the maintenance and optimization 
                      of critical vessel systems. </p>
                            <p>Now, as a Marine Commissioning Engineer, I lead the charge in overseeing the successful implementation and launch of marine projects
                       with meticulous attention to detail and precision.</p> 
                                          
                            <p>Throughout my journey, I have cultivated a 
                                reputation for delivering exceptional results and driving operational excellence in                    
                    every project I undertake. My commitment to innovation and continuous improvement has allowed me 
                    to navigate complex challenges and          
                    achieve unparalleled success in the marine engineering domain.</p>
                    
                            <p>Join me as we embark on a voyage through my portfolio, where you'll discover firsthand the depth of my expertise, 
                    the breadth of my accomplishments, and the unwavering dedication I bring to every endeavor.</p>                    
                            <p><span>Thank you for considering my portfolio, and I look forward to the opportunity to collaborate on future ventures in 
                    the Maritime and Oil & Gas industry.</span></p>
                </p>
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/kannan-madhusoodhanan-nair-728298a8"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.linkedin.com/in/kannan-madhusoodhanan-nair-728298a8"><i class='bx bxl-twitter'></i></a>
                    <a href="https://www.linkedin.com/in/kannan-madhusoodhanan-nair-728298a8"><i class='bx bxl-instagram'></i></a>
                    <a href="https://www.linkedin.com/in/kannan-madhusoodhanan-nair-728298a8"><i class='bx bxl-linkedin' ></i></a>
                </div> 
                <a href="#" class="btn" id="cvbutton">Download CV</a> 
                <!-- <div class="scroll-icon"><i class='bx bxs-hand-down bx-fade-down' ></i></div> -->
            </div>
            <div class="home-img">
                <img src="images/home.jpg" alt="">
            </div>
        </section>
        <!-- About section design -->
        <section class="about" id="about">
            <div class="about-img">
                <img src="images/about.jpg" alt="">
            </div>

            <div class="about-content">
                <h2 class="heading">About <span>Me</span></h2>
                <h3>Mechanical Engineer</h3>
                <p>Embarking on my maritime journey with Anglo Eastern Ship Management in 2011 following the 
                    completion of my Postgraduate Diploma in Marine Engineering, I commenced as an Engine Cadet. 
                    Over the years, I traversed the seas aboard various foreign-going vessels, including containers, Chemical Tankers, 
                    and VLCCs, steadily progressing to the esteemed position of Engineering Officer on Watch.</p>

                    <p>In 2016, I transitioned to British Petroleum (BP), where I gained invaluable exposure 
                    beyond operational and maintenance realms. One standout experience at BP was participating in the 
                    delivery of new builds from Hyundai Yard, South Korea—a journey that underscored the complexities of 
                    transforming a vessel from yard to sea-going state. Challenges ranged from technical hurdles to establishing a 
                    new ISO system for vessels, enriching my expertise and broadening my horizons...</p>

                <a href="aboutme" class="btn">Read More</a>     
            </div>
            <!-- ----Experience--- -->
        </section>
        <section class="services" id="services"> 
            <h2 class="heading">Proffessional <span>Experience</span></h2>

            <div class="services-container">
                <div class="services-box">
                    <i class='bx bxs-ship bx-tada' ></i>
                    <h3>Mariner (Engineering Officer On Watch)</h3>
                    <p>Setting sail with Anglo Eastern Ship Management in 2011 after earning my Marine Engineering Post graduate diploma, 
                        I began as an Engine Cadet. Navigating various vessels from Containers, Chemical Tankers, and VLCCs I climbed to 
                        Engineering Officer on Watch. Transitioning to British Petroleum in 2016, I embarked on new challenges, 
                        including wrangling new builds from Hyundai Yard and Dry Docking in China Yards.
                         From mastering ISO systems to riding the waves of hilarity, my journey's been quite the adventure.......</p>
                    <a href="/mariner" class="btn">Read More</a>
                </div>
                <div class="services-box">
                    <i class='bx bx-wrench bx-tada' ></i>
                    <h3>Marine, Specialist Service Engineer</h3>
                    <p>Transitioning to shore as a Marine Specialist Service Engineer with Albwardy-Damen, had the opportunity 
                        of being trained and certified by various Marine Equipment manufacturers. These include Yanmar (Engines and Gensets), 
                        KEMEL EKK Eagle (Stern Tube Seals), Mitsubishi MHI (Turbochargers), and Mitsubishi Kakoi Kesha (MKK) (Purifiers). 
                        Embarked on the opportunity of attending service jobs for these principals as their OEM 
                        representative. Other projects have involved working with Niigata, Hyundai Himsen Engines, and Kawasaki Bow Thrusters...
                    </p>
                    <a href="/service-engineer" class="btn">Read More</a>
                </div>
                <div class="services-box">
                    <i class='bx bx-cog bx-spin' ></i>
                    <h3>Commissioning Engineer - Marine, Ind-Pet & Oil-Gas </h3>
                    <p>Moving forward i joined AL-Bahar(Caterpillar) as Commissioning and Application Engineer. It really expanded my horizon of thinking.
                         I started to acknowledge the financial facts and business aspect of the projects not only the technical aspects. 
                         This position enabled me to dive into instrumentation control and electronics part of the machinery. 
                         Doing application and technical complaince, lead to understanding of the market and needs of the customer. 
                         This position lead more challenges than any other in my previous experience...</p>
                    <a href="/commissioning-engineer" class="btn">Read More</a>
                </div>
            </div>
        </section>

        <!-- Project(Portfolio)Section Design (CERTIFICATIONS) -->
        <section class="portfolio" id="portfolio">
            <h2 class="heading">Technical<span> Certifications</span></h2>

            <div class="portfolio-container" >
                <!-- project-0 -->
                <div class="portfolio-box" id="cat">
                    <img src="images/c32b.jpg" alt="">
                     <div class="portfolio-layer">
                     <h4>Caterpillar Certifications</h4>
                      <p>
                         Since you need to know about the product and the nature of work one needs to get Suitably trained. Caterpillar made sure
                         that you get trained effectively. Got trained and certified in various aspect of marine commissioning from Helm at the 
                         bridge to transmision end at the Engine room. Well trained in Marine Gensets and Propulsion Engines. Trained in recent
                         developments like Gas Engines and Exhaust Scrubbers (SCR). Trained and certified im marine electronics and controls.
                      </p>
                     <a href="/cat-certifications"><i class="bx bx-link-external"></i></a>
                     </div>
                 </div>
                       <!-- Project 1 -->
                <div class="portfolio-box" id="yanmar">
                    <img src="images/yanmar.jpg" alt="">
                    <div class="portfolio-layer">
                        <h4>Yanmar Engines</h4>
                        <p>Successfully completed OEM training at Yanmar T.T School in India, 
                            acquiring comprehensive expertise in Yanmar four-stroke, medium-speed engines, 
                            and marine generators. Acquired theoretical and practical knowledge encompassing all 
                            components and controls, with a focus on advanced understanding in turbocharger matching and 
                            design considerations for engine-turbo sets. Hands-on experience gained in governor and governor 
                            controls, along with intricate skills in engine troubleshooting and calibration of various components.
                        </p>
                             <a href="/certifications"><i class="bx bx-link-external"></i></a>
                    </div>
                </div>
                        <!-- project-2 -->
                <div class="portfolio-box" id="kemel">
                    <img src="images/kemel.jpg" alt="">
                    <div class="portfolio-layer">
                        <h4>KEMEL Stern Tube</h4>
                        <p>
                            Successfully completed both on-the-job and theoretical training at KEMEL (EKK Eagle), Singapore, focusing on 
                            Sterntube Seals for Two Stroke propulsion Engines. Delved into various types of stern tube seals including Air Seals, Oil Seals, and Water Seals, 
                            gaining comprehensive knowledge of their operation and adjustment for optimal sealing performance. 
                            Hands-on experience includes bonding, overhauling, and assembling both Forward and Aft Seals. Additionally, 
                            acquired expertise in measuring propeller drop, assessing bearing condition, and mastering Liner Calibration. 
                            Proficient in skimming and adjusting distance pieces to address linear wears and pitting issues.
                        </p>
                             <a href="/certifications#kemel"><i class="bx bx-link-external"></i></a>
                    </div>
                </div>
                            <!-- project-3 -->
                <div class="portfolio-box" id="mhi">
                    <img src="images/turbo.jpeg" alt="">
                    <div class="portfolio-layer">
                        <h4>Mitsubishi Turbochargers</h4>
                        <p>
                            Successfully completed training on radial flow and axial flow turbochargers from Mitsubishi Heavy Industries (MHI), 
                            with a focus on turbos utilized in two-stroke slow-speed and four-stroke medium-speed engines. 
                            Trained and certified in the maintenance cycle and calibration of turbochargers.

                        </p>
                             <a href="/certifications#turbo"><i class="bx bx-link-external"></i></a>
                    </div>
                </div>
                                <!-- project-4 -->
                <div class="portfolio-box" id="mkk">
                    <img src="images/purifier.jpeg" alt="">
                    <div class="portfolio-layer">
                        <h4>Mitsubishi Purifiers</h4>
                        <p>
                            Trained and certified in the maintenance and operation of Mitsubishi purifiers on-board marine vessels, 
                            from Mitsubishi Kakoki Kaisha Ltd (MKK) in Japan. 
                            Received comprehensive factory training encompassing detailed theories of separation and the diverse design 
                            intricacies of MKK separator all models. Well-versed in the electronics and control systems of these separators, 
                            with additional training in bowl overhauling and balancing. Proficient in hands-on troubleshooting for various 
                            operational scenarios.
                        </p>
                             <a href="/certifications#purifier"><i class="bx bx-link-external"></i></a>
                    </div>
                </div>
                            <!-- project-5 -->
                              <div class="portfolio-box" id="clean-marine">
                                 <img src="images/egs.jpeg" alt="">
                                  <div class="portfolio-layer">
                                  <h4>Exhaust Gas Scrubber (Clean Marine)</h4>
                                   <p>
                                    On the job training and certification for Exhaust gas scrubbers (EGS) from Clean Marine, Lysaker Norway.
                                    Trained during the erection and commissiong of the plant in Vessel British Cirrius. Trained and Certified in 
                                    the Closed loop and Open loop system for Clean marine EGS system.
                                    Participated in design modification and trouble shooting of the system.
                                    Trained in the bunkering of Caustic (NaoH) for the system.

                                 </p>
                                  <a href="/certifications#egs"><i class="bx bx-link-external"></i></a>
                                  </div>
                              </div>
            </div>
        </section>

        <!-- pop upmessage for cv download -->

        <div id="popupBox">
            <span class="close" onclick="closePopup()">&times;</span>
            <div class="poptext">
                <p>Hi, Thanks for the interest, </p>
            <p>Kindly mail me @ <span1>kannanmc2013@gmail.com </span1> for My recent Resume</p>
            </div>
                <a href="mailto:kannanmc2013@gmail.com" class="btn" id="sendmailbtn"> Send Mail</a> 
          </div>

        <!-- Contact form -->
        <section class="contact" id="contact">
            <h2 class="heading">Contact<span> Me! </span></h2>

            <form 
                action="https://formsubmit.co/kannanportfoliomail@gmail.com"
                target="blank"
                method="POST"
                
                id="contactform"
            >
                <div class="input-box">
                    <input type="text" placeholder="Full Name" required name="name">
                    <input type="email" placeholder="Email Adress" required name="email">
                </div>
                <div class="input-box">
                    <input type="number" placeholder="Mobile" name="number">
                    <input type="text" placeholder="Email Subject" name="Subject">
                </div>
                <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <input type="hidden" name="_captcha" value="false">
               
                <input type="submit" value="Send Message" class="btn">
            </form>

        </section>



        <!-- Footer design -->
        <footer class="footer">
            <div class="footer-text">
                <p> Copyright &copy; 2023 by Kannan | All rights Reserved</p>
            </div>
            <div class="footer-iconTop">
                <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
            </div>
        </footer>
        <!-- ------Scroll reveal api---- -->
        
        <script src="https://unpkg.com/scrollreveal"></script>

        <!-- typed js -->
        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>


        <!-- custom js -->
        <script src="js/script.js" async defer></script>
    </body>
</html>
