<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mariner</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_mariner.css">
     <!-- box icons (for hamberger etc) -->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header  class="header">
        <a href="#" class="logo" class="logo-multiple-text">Portfolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="home">Home</a>
            <a href="aboutme" >About</a>
            <a href="#" class="active"> Marine Experience</a>
            <a href="home#services" class="total-experience"> Total Experience</a>
            <a href="home#portfolio">Technical Certifications</a>
            <a href="/other-cert"> Other Certifications</a>
            <a href="#contact">Contact</a>
            <!-- <a href="#Other-interests">Other Interests</a> -->
        </nav>
    </header>
    <section class="about" style="background-color: #1f242d;" id="about">
        <div class="about-img" id="images">
            <img src="images/about1.jpg" alt="">
            <img src="images/about2.jpeg" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading">Marine <span>Engineer</span></h2>
            <h3>Engineering Officer On Watch</h3>
            <p>
            <p><span1>Rotating Equipments:</span1> 4 Stroke, and 2 Stroke: On the hands working experience in Diesel Engines both two-stroke and four-stroke (MAN B&W MC and ME series, Hyundai B&W, Yanmar engines, etc). Working Experience in Steam Turbines, all types of Compressors (Reciprocating and rotary). Application and commissioning of Caterpillar Marine propulsion and Marine gensets.
                On the hands working knowledge in all kinds of pumps (Centrifugal, Displacement) 
                and fans(Reversible and Non-reversible) used in the industry. Excellent troubleshooting 
                and maintenance skills for all the above-mentioned types of machinery.</p>
                
            <p><span1>Auxiliary Systems:</span1> Excellent knowledge about all types of Fuel Systems (For Engines, Boilers, and Inert Gas systems).
             Working knowledge in air systems (Both Control Air system and Main air System). Well-versed in Water systems both in Fresh Water 
             systems and Salt Water systems. Also, have working experience and troubleshooting knowledge in Fresh Water Generation system for 
             Drinking and for Boiler usage purpose</p>
                
            <p><span1>Fire Fighting:</span1> Excellent working and maintenance knowledge in all kinds of Fresh Water and Sea Water fire fighting 
                systems and equipment. Has very good knowledge and experience in sprinkler systems, Water Mist Systems, Co2 Systems, 
                Foam Fire Fighting systems, and all the associated types of equipment in Fire Fighting. Participated as an active member 
                of the Fire Fighting Team in Executing and Assigning duties. Have real-life fire incident experiences.</p>
                
            <p><span1>Treatment Systems:</span1> On the hands of working Knowledge in Aerobic Sewage and other waste treatment systems.</p>
                
        <p><span1>HVAC:</span1> Excellent knowledge in heating and ventilation systems onboard vessels including Fans, 
            Multistage Compressors air filtering, and recirculation systems, etc.</p>

        <p><span1>Hydraulic system:</span1> Good working experience in all types of the hydraulic system onboard vessels, 
                including Main Engines, Valve Remote Systems, Framo System for cargo Pump operations, etc.</p>
                
            <p><span1>Piping and Valve system:</span1> Good knowledge in piping and valve systems in different systems Viz, 
                Steam System, Salt Water, Fresh Water, Hydraulic, Compressed Air, Fuel Systems. 
                Very Good knowledge about control valves and working etc.</p>
                
           
            <p><span1>Marine Systems:</span1> Excellent knowledge in all marine systems both pneumatic and hydraulic. 
                Very Good Working experience and knowledge in all marine Systems and Equipment.</p>
                
            <p><span1>Naval Architect:</span1> Good Knowledge in Ship Construction and Naval Arch.</p>
                
        <p><span1>Electrical and Control System:</span1> Excellent working knowledge in Power generation and distribution, 
            and Control systems, And power management(PMS) in vessels.</p>
                
        <p><span1>Testing:</span1> Hands-on Experience in common NDT testing methods like Dye Penetrant test, Leak Testing, 
            and Visual Testing, etc. Hydraulic and pneumatic testing of various machinery.</p>
                
        <p><span1>Computer Knowledge:</span1> Proficient in planning tools. CMMS & PMS Systems, and Inventory Management </span></p>

                </p>
            
        </div>
        </section>

        <section class="vessel-section">
            <div class="about-content">
                <h2 class="heading">British<span1> Petroleum </span></h2>
                <h3>Engineering Officer On Watch - <span> Sept 2016-June 2019 </span1></h3>
                    <p><h3><span1>Vessels Sailed</span1></h3></p>
            </div>     
                
                                
                <vessels class="vessel-holder">
                    <div class="about-img vessel-image">
                        <img src="images/loyalty.jpg" alt="">
                    </div>
                    <div class="vessel-text">
                   <h3>British Loyalty</h3>
                   <p>IMO/ON : 737105</p>
                   <P>Class: Oil Tanker</P>
                   <P>Registry: Douglas</P>
                   <p>N.R.T: 11917</p>
                   <P>BHP: 12900</P>
                  
                </div>
                </vessels>

                <vessels class="vessel-holder"> 
                    <div class="about-img vessel-image">
                        <img src="images/nimbus.jpg" alt="">
                    </div> 
                <div class="vessel-text">                  
                    <h3>British Nimbus</h3>
                    <p>IMO/ON : 745630</p>
                    <P>Class: Product Tanker</P>
                    <P>Registry: Douglas</P>
                    <p>N.R.T: 10279</p>
                    <P>BHP: 11506</P>
                   
                </div>
                 </vessels>

                 <vessels class="vessel-holder">   
                    <div class="about-img vessel-image">
                        <img src="images/cirrus.jpg" alt="">
                    </div> 
                <div class="vessel-text">                
                    <h3>British Heritage</h3>
                    <p>IMO/ON : 9682980</p>
                    <P>Class: Product Tanker</P>
                    <P>Registry: Douglas</P>
                    <p>G.R.T: 85445</p>
                    <P>KW: 14300</P>
                   
                </div>
                 </vessels>

                 <vessels class="vessel-holder">  
                    <div class="about-img vessel-image">
                        <img src="images/heritage.jpg" alt="">
                    </div>
                <div class="vessel-text">                  
                    <h3>British Cirrus <Span3>(Done Twice)</Span3></h3>
                    <p>IMO/ON : 745632</p>
                    <P>Class: Product Tanker</P>
                    <P>Registry: Douglas</P>
                    <p>G.R.T: 27659</p>
                    <P>KW: 8580</P>
                    
                </div>
                 </vessels>
          
            </section>

            <section class="vessel-section">
                <div class="about-content">
                    <h2 class="heading">Anglo Eastern<span1>Ship Management </span></h2>
                    <h3>Engineering Officer On Watch - <span> From (Sept 2011-March 2016) </span1></h3>
                        <p><h3><span1>Vessels Sailed</span1></h3></p>
                </div>     
                    
                                    
                    <vessels class="vessel-holder">
                        <div class="about-img vessel-image">
                            <img src="images/ottawa.jpg" alt="">
                        </div>
                        <div class="vessel-text">
                            <h3>Ottawa Express</h3>
                            <p>IMO/ON : 9165360</p>
                            <P>Class: Container Carrier</P>
                            <P>Registry: Hamilton</P>
                            <p>G.R.T: 39174</p>
                            <P>BHP: 34580</P>
                           
                    </div>
                    </vessels>
    
                    <vessels class="vessel-holder"> 
                        <div class="about-img vessel-image">
                            <img src="images/atlantic.jpg" alt="">
                        </div> 
                    <div class="vessel-text">                  
                            <h3>Atlantic Star</h3>
                            <p>IMO/ON: HK-2100</p>
                            <P>Class: Product Tanker</P>
                            <P>Registry: Hong koNg</P>
                            <p>G.R.T: 26266</p>
                            <P>KW: 9840</P>
                            
                    </div>
                     </vessels>
    
                     <vessels class="vessel-holder">   
                        <div class="about-img vessel-image">
                            <img src="images/charger.jpg" alt="">
                        </div> 
                    <div class="vessel-text">                
                            <h3>Fairchem Charger</h3>
                            <p>IMO/ON : 9367401</p>
                            <P>Class: Chemical Tanker</P>
                            <P>Registry: Marshall Islands</P>
                            <p>G.R.T: 11643</p>
                            <P>BHP: 6150</P>
                            
                    </div>
                     </vessels>

                     <vessels class="vessel-holder">  
                        <div class="about-img vessel-image">
                            <img src="images/steed.jpg" alt="">
                        </div>
                    <div class="vessel-text">                  
                            <h3>Fairchem Steed</h3>
                            <p>IMO/ON : 9311256</p>
                            <P>Class: Chemical Tanker</P>
                            <P>Registry: Panama</P>
                            <p>G.R.T: 11566</p>
                            <P>BHP: 6150</P>
                            
                    </div>
                     </vessels>
    
                     <vessels class="vessel-holder">  
                        <div class="about-img vessel-image">
                            <img src="images/hayama.jpg" alt="">
                        </div>
                    <div class="vessel-text">                  
                            <h3>Maersk Hayama</h3>
                            <p>IMO/ON : 397536</p>
                            <P>Class: VLCC</P>
                            <P>Registry: Singapore</P>
                            <p>G.R.T: 156915</p>
                            <P>BHP: 25090</P>
                          
                    </div>
                     </vessels>
              
                </section>


                <!-- Contact form -->
                <section class="contact" id="contact">
                    <h2 class="heading">Contact<span> Me! </span></h2>
        
                    <form 
                        action="https://formsubmit.co/kannanportfoliomail@gmail.com"
                        target="blank"
                        method="POST"
                        
                        id="contactform"
                    >
                        <div class="input-box">
                            <input type="text" placeholder="Full Name" required name="name">
                            <input type="email" placeholder="Email Adress" required name="email">
                        </div>
                        <div class="input-box">
                            <input type="number" placeholder="Mobile" name="number">
                            <input type="text" placeholder="Email Subject" name="Subject">
                        </div>
                        <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                        <input type="hidden" name="_captcha" value="false">
                       
                        <input type="submit" value="Send Message" class="btn">
                    </form>
        
                </section>

    <!-- Footer design -->
    <footer class="footer">
        <div class="footer-text">
            <p> Copyright &copy; 2024 by Kannan | All rights Reserved</p>
        </div>
        <div class="footer-iconTop">
            <a href="#about"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>
    <!-- ------Scroll reveal api---- -->
    
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>


    <!-- custom js -->
    <script src="js/script.js" async defer></script>
</body>
</html>
