<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Other Certifications</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <!-- box icons (for hamberger etc) -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    </head>
    <body>
        <header class="header">
            <a href="#" class="logo" class="logo-multiple-text">Portfolio</a>
            <i class='bx bx-menu' id="menu-icon"></i>
            <nav class="navbar">
                <a href="home">Home</a>
                <a href="aboutme">About</a>
                <a href="home#services">Experience</a>
                <a href="home#portfolio"> Technical Certifications</a>
                <a href="other-cert"  class="active"> Other Certifications</a>
                <a href="#contact">Contact</a>
                <!-- <a href="#Other-interests">Other Interests</a> -->
            </nav>
        </header>

      
    
        <!-- Project(Portfolio)Section Design (CERTIFICATIONS) -->
        <section class="portfolio" id="portfolio">
            <h2 class="heading">Other<span> Certifications</span></h2>

            <div class="portfolio-container">

                <div class="portfolio-box">
                    <img src="images/safetyofficer.jpeg" alt="">
                    
                </div>

                                          
                <div class="portfolio-box">
                    <img src="images/bridgemanuv.jpeg" alt="">
                    
                </div>

                <div class="portfolio-box">
                    <img src="images/chemicaltanker.jpeg" alt="">
                    
                </div>
                        
                <div class="portfolio-box">
                    <img src="images/advancedfire1.jpeg" alt="">
                    
                </div>

                <div class="portfolio-box">
                    <img src="images/advancedfire.jpeg" alt="">
                    
                </div>
                                
                

                <div class="portfolio-box">
                    <img src="images/chemicaltanker1.jpeg" alt="">
                    
                </div>
                            
                <div class="portfolio-box">
                    <img src="images/engineroomteam.jpeg" alt="">
                    
                </div>

                <div class="portfolio-box">
                    <img src="images/firstaid.jpeg" alt="">
                    
                </div>
                        
                <div class="portfolio-box">
                    <img src="images/maritimesafety.jpeg" alt="">
                    
                </div>
                           
                <div class="portfolio-box">
                    <img src="images/marpol.jpeg" alt="">
                    
                </div>
                                
                <div class="portfolio-box">
                    <img src="images/kms.jpeg" alt="">
                    
                </div>
                            
                <div class="portfolio-box">
                    <img src="images/mmse.jpeg" alt="">
                    
                </div>

                <div class="portfolio-box">
                    <img src="images/oiltanker.jpeg" alt="">
                    
                </div>

                <div class="portfolio-box">
                    <img src="images/pms.jpeg" alt="">
                    
                </div>

                <div class="portfolio-box">
                    <img src="images/pssr.jpeg" alt="">
                    
                </div>

                <div class="portfolio-box">
                    <img src="images/risk.jpeg" alt="">
                    
                </div>

                <div class="portfolio-box">
                    <img src="images/safety.jpeg" alt="">
                    
                </div>

                
                <div class="portfolio-box">
                    <img src="images/security.jpeg" alt="">
                    
                </div>


                
               


               
            </div>
        </section>

        <!-- Contact form -->
        <section class="contact" id="contact">
            <h2 class="heading">Contact<span> Me! </span></h2>

            <form 
                action="https://formsubmit.co/kannanportfoliomail@gmail.com"
                target="blank"
                method="POST"
                
                id="contactform"
            >
                <div class="input-box">
                    <input type="text" placeholder="Full Name" required name="name">
                    <input type="email" placeholder="Email Adress" required name="email">
                </div>
                <div class="input-box">
                    <input type="number" placeholder="Mobile" name="number">
                    <input type="text" placeholder="Email Subject" name="Subject">
                </div>
                <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <input type="hidden" name="_captcha" value="false">
               
                <input type="submit" value="Send Message" class="btn">
            </form>

        </section>
        <!-- Footer design -->
        <footer class="footer">
            <div class="footer-text">
                <p> Copyright &copy; 2024 by Kannan | All rights Reserved</p>
            </div>
            <div class="footer-iconTop">
                <a href="#portfolio"><i class='bx bx-up-arrow-alt'></i></a>
            </div>
        </footer>
        <!-- ------Scroll reveal api---- -->
        
        <script src="https://unpkg.com/scrollreveal"></script>

        <!-- typed js -->
        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>


        <!-- custom js -->
        <script src="js/script.js" async defer></script>
    </body>
</html>
