<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Engineer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_service-engineer.css">
     <!-- box icons (for hamberger etc) -->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header style="background-color: #323946;" class="header">
        <a href="#" class="logo" class="logo-multiple-text">Portfolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="home">Home</a>
            <a href="aboutme" >About</a>
            <a href="#" class="active"> Specialist Service Experience</a>
            <a href="home#services"> Total Experience</a>
            <a href="home#portfolio">Technical Certifications</a>
            <a href="other-cert"> Other Certifications</a>
            <a href="#contact">Contact</a>
            <!-- <a href="#Other-interests">Other Interests</a> -->
        </nav>
    </header>
    <section style="background-color: #1f242d;" class="about" id="about">
        <div class="about-img">
            <img src="images/about.jpg" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading">Marine <span>Specialist Service Engineer</span></h2>
            <!-- <h3 class="Certified">Certified Engineer For Various OEMS</h3> -->
            <h3> Albwardy-Damen Shipyards <span1>From (Feb 2022 - May 2023)</span1></h3>
            <p>Transitioning to shore as a Marine Specialist Service Engineer with Albwardy-Damen, had the opportunity 
                of being trained and certified by various Marine Equipment manufacturers. These include Yanmar (Engines and Gensets), 
                KEMEL EKK Eagle (Stern Tube Seals), Mitsubishi MHI (Turbochargers), and Mitsubishi Kakoi Kesha (MKK) (Purifiers). 
                Embarked on the opportunity of attending service jobs for these principals as their OEM 
                representative. Other projects have involved working with Niigata, Hyundai Himsen Engines, and Kawasaki Bow Thrusters.
                <p>Throughout this tenure, I gained a deep understanding of shipyards and actively participated in numerous dry-docking
                 projects for various vessels, both within our yard and at other dry docks. These assignments presented technical challenges 
                 alongside the nuanced task of customer relations. Many of these projects were time-constrained, which facilitated the 
                 development of efficient time management skills.</p>

                 <div class="oem-cert">
                    <h3>OEM Certification details</h3>

                 <p><a href="certifications#yanmar">1. Yanmar Medium speed 4 stroke Diesel Engine and Marine Gensets -  <span>Yanmar Technical school, 
                    India</span></a></p>
                 <p><a href="certifications#purifier">2. Mitsubishi Purifier <span> MKK, Japan</span></a></p>
                 <p><a href="certifications#kemel">3.KEMEL Stern tube  <span> KEMEL (EKK Eagle) Singapore. (OJT)</span></a></p>
                 <p><a href="certifications#turbo">4. Mitsubishi Turbocharger  <span>MHI</span></a></p>
                 <p><a href="certifications#egs">5. Exhaust Gas Scrubber <span> Clean Marine  Lysaker, Norway(OJT)</span></a></p>
                </div>
                 

            </p>
            
        </div>
        </section>

        <section class="contact" id="contact">
            <h2 class="heading">Contact<span> Me! </span></h2>

            <form 
                action="https://formsubmit.co/kannanportfoliomail@gmail.com"
                target="blank"
                method="POST"
                
                id="contactform"
            >
                <div class="input-box">
                    <input type="text" placeholder="Full Name" required name="name">
                    <input type="email" placeholder="Email Adress" required name="email">
                </div>
                <div class="input-box">
                    <input type="number" placeholder="Mobile" name="number">
                    <input type="text" placeholder="Email Subject" name="Subject">
                </div>
                <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <input type="hidden" name="_captcha" value="false">
               
                <input type="submit" value="Send Message" class="btn">
            </form>

        </section>

    <!-- Footer design -->
    <footer class="footer">
        <div class="footer-text">
            <p> Copyright &copy; 2024 by Kannan | All rights Reserved</p>
        </div>
        <div class="footer-iconTop">
            <a href="#about"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>
    <!-- ------Scroll reveal api---- -->
    
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>


    <!-- custom js -->
    <script src="js/script.js" async defer></script>
</body>
</html>
